/* カラーテーマを定義 */
:root {
    --color-primary: #E36464;
}

html {
    font-family: 'Noto Sans JP', 'Reddit Mono', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    /* @apply rounded-lg; */
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--color-primary);
}

hr {
    border: 0;
    border-top: 1px solid #767676;
    margin: 2rem 0;
    animation: hrIn 2s forwards;
}

@keyframes hrIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}