---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="都市大アニメーションについて"
	description="都市大アニメーションとは東京都市大学の学生のみによるアニメーション制作集団です。"
	pubDate={new Date('August 08 2024')}
	heroImage="/ogp.jpg"
>
	<p class="blog-paragraph">
		2024年4月にプロジェクトが始動し、現在鋭意製作中の「東京都市大学アニメーションスタジオ（都市大アニメーション）」は、
		<strong><a href="https://www.city.setagaya.lg.jp" target="_blank">東京都世田谷区役所</a></strong>の世田谷区子ども・若者部児童課をクライアントとする。<br>
		<strong><a href="https://www.tcu.ac.jp" target="_blank">東京都市大学</a></strong>情報システム学科の<a href="https://manapuraza.com" target="_blank">山下マナト</a>をはじめとした
		弊学<a href="https://tcu-dc.net" target="_blank">デジタルコンテンツ研究会</a>のクリエイタを中心に結集された有志によるアニメーション制作スタジオです。
	</p>

	<p class="blog-paragraph">
		アニメーション制作、プロジェクトマネジメント、音楽など、アニメ制作における様々な分野のアセットをスタジオ内の都市大生が制作しています。
		また、声優事務所<strong><a href="https://www.81produce.co.jp/" target="_blank">81プロデュース</a></strong>にご協力をいただき、プロの声優を起用しアニメーション制作を行っています。
	</p>

	<hr>

	<section>
		<span class="text-wrap">
			<h2 class="blog-head">新BOPとは!!?</h2>
		</span>
		<p class="blog-paragraph">
		子どもの健全な育成や子育て家庭の支援を目的とし、新BOP学童クラブ（学童保育）とＢＯＰ（放課後子供教室）とを統合した、区独自の事業です。
		<a href="https://www.city.setagaya.lg.jp/mokuji/kodomo/006/009/d00007374.html" target="_blank">新BOPとは（世田谷区公式サイト）</a>
		</p>

		<img src="/blog-assets/images/about-bop.webp" alt="新BOPとは" class="blog-img">

		<span class="text-wrap">
			<h3 class="blog-head">新BOP学童クラブとは</h3>
		</span>
		<p class="blog-paragraph">
		保護者が就労や病気などのため、放課後に家庭で保護・育成にあたることのできない世帯の小学校低学年の児童に、健全な遊びや安全な生活の場を提供し、一人ひとりがのびのびと安心して過ごせるよう配慮し、心身の健やかな成長を促します。
		</p>
	</section>

	<hr>

	<section>
		<span class="text-wrap">
			<h2 class="title">私たちが作るアニメーション</h2>
		</span>
		<span class="text-wrap">
			<h3 class="blog-head">世田谷区の課題と現状</h3>
		</span>
		<img src="/blog-assets/images/problem.webp" alt="世田谷区の課題と現状" class="blog-img">
		<ul>
			<li>新BOPの人手不足</li>
			<li>現在様々な施策で興味を持ってもらおうと動いている</li>
			<li>区役所を介してやるとお堅いものになってしまう。</li>
			<li>世田谷区の大学と連携して何かをすることが世田谷区で推奨されている</li>
			<li>学童クラブの職員って何しているのかなどまず知ってもらいたい</li>
			<li>若者向けだからアニメで訴求したい</li>
		</ul>

		<img src="/blog-assets/images/needs.webp" alt="求められているアニメーション" class="blog-img">
		<p class="blog-paragraph">
			<iframe class="setagayafes21-anime" src="https://www.youtube.com/embed/q9Dy7ACB288?si=83kxgWMMvCSAE49E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			山下マナトが2年生の頃に<a href="https://tmana.sub.jp/tcudcAnimePj2021/src/tcudcAnimePj21.html" target="_blank">デジタルコンテンツ研究会で作ったアニメーションのblog</a>を見ていただいた世田谷区からお話をいただきました。（2024年1月頃）
			当初はデジタルコンテンツ研究会を通じてアニメーションを作る予定でしたが、デジコンとして依頼の受注は見送ることになりました。
			ただし、山下マナト自身は世田谷区の方々の話を聞きこのプロジェクトに対して、
			<ul>
				<li class="blog-list">世田谷区の方々の情熱に共感を得た</li>
				<li class="blog-list">自分の作品を必要としてくれていることがどうしようもなく嬉しい</li>
				<li class="blog-list">クライアントの課題にとても共感する部分がある。それを自分の創作活動を持って一助できるというクリエイタとしての喜び</li>
				<li class="blog-list">デジコンで行う最後の恩返し。俺が会長をやるきっかけになった全ての始まりと言える作品をもう一度在学中に創れる</li>
				<li class="blog-list">世田谷区という大きなクライアントに対して作品制作ができるという貴重な経験</li>
			</ul>
			以上の魅力的な点から、都市大アニメーションを立ち上げ、作品制作に取り組むことを決意しました。
		</p>
		<img src="/blog-assets/images/lets-animate.webp" alt="Lets Animate" class="blog-img">
	</section>

</Layout>

<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	gsap.registerPlugin(ScrollTrigger);

	gsap.from('.blog-paragraph', {
		scrollTrigger: {
			trigger: '.blog-paragraph',
			start: 'top 80%',
		},
		opacity: 0,
		y: 50,
		duration: 1,
		ease: 'power2.out',
		stagger: 0.5,
	});

	gsap.from('.blog-head', {
		scrollTrigger: {
			trigger: '.blog-head',
			start: 'top 80%',
		},
		opacity: 0,
		y: 100,
		duration: 1,
		ease: 'power2.out',
		stagger: 0.5,
	});

	gsap.from('.blog-img', {
		scrollTrigger: {
			trigger: '.blog-img',
			start: 'top 80%',
		},
		opacity: 0,
		y: 50,
		duration: 1,
		ease: 'power2.out',
		stagger: 0.5,
	});

	gsap.from('.blog-list', {
		scrollTrigger: {
			trigger: '.blog-list',
			start: 'top 80%',
		},
		opacity: 0,
		y: 50,
		duration: 1,
		ease: 'power2.out',
		stagger: 0.3,
	});
</script>

<style>
	.setagayafes21-anime {
		width: 100%;
		min-height: 400px;
	}
	.text-wrap {
		display: block;
		overflow: hidden;
	}
	ul {
    list-style-type: disc;
    padding: 1rem 0 1rem 2rem;
}
</style>