---
// import { Icon } from 'astro-iconify'

import {
  Astronav,
  MenuItems,
  MenuIcon,
//   Dropdown,
//   DropdownItems,
//   DropdownSubmenu,
} from "astro-navbar";
import ThemeIcon from "./ThemeIcon.astro";

---

<header class="lg:flex pt-4 px-4 px-6 md:pt-10 md:pb-5 gap-5 w-full transition-all">
  <Astronav>
    <div class="flex w-full justify-between items-end border-b lg:border-none pb-4 lg:pb-0 relative overflow-hidden">
    	<a class="logo-wrapper font-semibold text-xl flex gap-2 items-center group" href="/">
			<img src="/logo.webp" class="logo absolute" alt="都市大アニメーション">
		</a>
      <div class="lg:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
		<ThemeIcon class="w-10" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
		<ul class="flex flex-col lg:flex-row lg:gap-5 gap-3 mt-3 lg:mt-0 lg:pb-0 border-b border-neutral-400 lg:border-b-0">
			<li class="menu-item flex items-center"><a href="/about">About</a></li>
			<li class="menu-item flex items-center"><a href="/blog">Blog</a></li>
			<li class="menu-item flex items-center"><a href="/tags">Tags</a></li>
			<li><ThemeIcon class="menu-item w-10 hidden lg:flex" /></li>
		</ul>
    </MenuItems>
  </Astronav>
</header>

<script>

import { gsap } from 'gsap';

gsap.from('.logo', {
	duration: 1,
	y: 100,
	ease: 'power2.out',
	delay: 2,
});

gsap.fromTo('.menu-item',{ 
		opacity: 0,
		y: 50 
	},
	{
		opacity: 1,
		y: 0,
		duration: 0.6,
		stagger: 0.3,
		ease: "power2.out",
		delay: 2.5
	}
);
</script>

<style>
header {
	position: fixed;
	top: 0;
    z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
}
.logo-wrapper {
	width: 250px;
	height: 33px;
}
.logo {
	width: 25ch;
  }
  .logo-wrapper:hover {
	transform-origin: center;
	transform: scale(1.05);
  }

  @media screen and (max-width: 768px) {
	.logo-wrapper {
		width: 250px;
		height: 33px;
	}
	.logo {
		width: 15ch;
	}
  }
</style>